---
// import contact from "../components/Contact"
---

<form name="feedback" method="POST" data-netlify="true">
    <h3>We Love Hearing From You!</h3>
    <p>
      <label>Dein Name: <input type="text" name="name" placeholder="Dein Name" /></label>
    </p>
    <p>
      <label>Deine E-Mail: <input type="email" name="email" placeholder="deine@email.com" /></label>
    </p>
    <p>
      <label>Deine Rolle bei SchnitzStück: <select name="role[]" multiple>
        <option value="enthusiast">Enthusiast</option>
        <option value="critic">Kritiker</option>
        <option value="partner">Partner</option>
        <option value="other">Anderes</option>
      </select></label>
    </p>
    <p>
      <label>Dein Feedback oder Vorschlag: <textarea name="message" placeholder="Teile deine Gedanken und Ideen mit uns!"></textarea></label>
    </p>
    <p>
      <button type="submit">Absenden</button>
    </p>
</form>

  

   <!-- <main>
    <contact/>
</main> -->

