---
import MainLayout from "../layouts/main-layout.astro"
import Kontakt from "../components/cont"
---
<!-- 
<form name="feedback" method="POST" data-netlify="true">
    <h3>Wir freuen uns von Dir zu hören!</h3>
    <p>
      <label>Dein Name: <input type="text" name="name" placeholder="Dein Name" /></label>
    </p>
    <p>
      <label>Deine E-Mail: <input type="email" name="email" placeholder="deine@email.com" /></label>
    </p>
    <p>
      <label>Deine Rolle bei SchnitzStück: <select name="role[]" multiple>
        <option value="enthusiast">Enthusiast</option>
        <option value="critic">Kritiker</option>
        <option value="partner">Partner</option>
        <option value="other">Anderes</option>
      </select></label>
    </p>
    <p>
      <label>Dein Feedback oder Vorschlag: <textarea name="message" placeholder="Teile deine Gedanken und Ideen mit uns!"></textarea></label>
    </p>
    <p>
      <button type="submit">Absenden</button>
    </p>
</form> -->

  

<MainLayout title="Kontakt">
    <Kontakt client:load/>
</MainLayout>


