---
const Regal ='/Regal.jpeg'
const Schränke = '/Schränke.png'
const Nachttisch = '/Nachttisch-weich.jpeg'
const Lampen = '/Lampen.png'
const Lampe2 = '/Lampe2.jpeg'
const Esstische = '/Esstische.png'
---

<div class="mx-12">
    <h1 class="my-24 text-center text-2xl font-bold">Ideen, die wir noch gerne umsetzen würden</h1>
    <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
      <div class="group relative cursor-pointer">
        <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
          src={Regal}
          alt="painting"
        />
        <div
          class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
        >
        </div>
      </div>
      <div class="group relative cursor-pointer">
        <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
          src={Lampe2}
          alt="painting"
        />
        <div
          class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
        >
        </div>
      </div>
      <div class="group relative cursor-pointer">
        <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
          src={Nachttisch}
          alt="painting"
        />
        <div
          class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
        >
        </div>
      </div>
      <div class="group relative cursor-pointer">
        <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
          src={Lampen}
          alt="painting"
        />
        <div
          class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
        >
        </div>
      </div>
    </div>
  </div>