---
import MainLayout from "../layouts/main-layout.astro"
import Intro from "../components/intro.astro"
import Gallery from "./gallery.astro"
import Logo from "../components/logo.astro"
// import Contact from "../components/cont"
import Jump from "../components/jump"
import AnimatedLogo from "../components/logo"
import Pat from "../components/parallaxtest"
import Finder from "../components/FinderAnimation"
import MaskTest from "../components/maskTest.astro"
import LineAnimation from "../components/LineAnimation"
---

<MainLayout title="SchnitzStück">


    <div class="h-screen text-base-100">hallo</div>

    <!-- <MaskTest /> -->

   <!-- <Jump client:load /> -->
    <!-- <Logo /> -->
    <!-- <AnimatedLogo client:load/> -->
  
   <Intro class="snap-y snap-mandatory h-screen overflow-y-scroll" />
 <!--   <LineAnimation client:only="react" /> -->

    
   <Finder client:visible/>
    <Gallery />

</MainLayout>
