---
import MainLayout from "../layouts/main-layout.astro"
import Intro from "../components/intro.astro"
import Gallery from "./gallery.astro"
import Logo from "../components/logo.astro"
// import Contact from "../components/cont"
import Finder from "../components/finder2"
import Jump from "../components/jump"
import AnimatedLogo from "../components/logo"
---

<MainLayout title="SchnitzStück">

    <div class="h-screen text-base-100">hallo</div>

    <!-- <Jump client:load /> -->
    <!-- <Logo /> -->
    <!-- <AnimatedLogo client:load/> -->
    <Intro />
    <Finder client:load />
    <Gallery />
    
</MainLayout>


