---
import Sessel from '/Sessel.jpg'
import Nachttische from '/Nachttische.png'
---

<div class="relative mx-12">

</div>
<main class="text-justify mx-12">Hallo! <br> Willkommen auf der Webseite von SchnitzStück! Schön, dass Sie hier hergefunden haben. Diese Webseite ist momentan noch under construction. Als transparentes Unternehmen lassen wir uns jedoch in die Karten blicken und beim Konstruktionsprozess zusehen. Deshalb ist diese Seite bereits under <a href="www.SchnitzStück.de", class=" font-bold ">SchnitzStück.de</a> zu finden. Vielleicht interessiert es ja den ein oder anderen :) <br>
Da wir uns der OpenSource community verpflichtet fühlen, ist der gesamte code für die Webseite auf <a href="https://github.com/PJET2000/schnitzst-ck.github.io", class="font-bold">Github</a> zu finden. <br>
Für ALLE Fragen sind wir berreits erreichbar unter: <a href="mailto:info@schnitstück.de", class="font-bold">info@schnitstück.de</a></main>
