---
import BaseLayout from "../layouts/base-layout.astro"
---

<BaseLayout title="Katerina">

    <div class="snap-y snap-mandatory min-h-screen relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" id="Impressum">

        <br>
        <br> 
        <br>
        <br> 
        <br> 

    <html><iframe src="https://tinyglb.com/viewer/179c86dafe0949078670f227b78b462c" class="rounded-xl" style="border: 10px; height: 700px; width: 100%"></iframe></html>
       


</div>

</BaseLayout>

