---
import BaseLayout from "../layouts/base-layout.astro"
---

<BaseLayout title="Katerina">
    <html>

    <div id="card" class="">
      <div class="model-viewer-container mt-72 shadow-lg overflow-hidden rounded-xl border-4 border-base-content">
          <model-viewer  class="h-full "
          src="/Katharina-1.glb"
          ios-src="/Katerina-3-small.usdz"
          
                                      
                      ar ar-modes="scene-viewer webxr quick-look" camera-controls tone-mapping="neutral"
                      alt="Katerina-1"
                      shadow-intensity="1"
                      auto-rotate>                  
          </model-viewer>
              
      <div class="p-4 bg-base-content">
      <h2 class="text-2xl text-base-100 font-bold">Modell 1</h2>
      <p class="text-lg text-base-100">Einfacher Beistelltisch aus Buchenschichtholz mit grauer Vinyl-Arbeitsplatte und orangefarbener Rückwand.</p>
    </div>
  </div>
  </div>


    


    <div id="card" class="">
        <div class="model-viewer-container mt-72 shadow-lg overflow-hidden rounded-xl border-4 border-base-content">
            <model-viewer  class="h-full "
            src="/Katharina-Intarsien.glb"
            ios-src="/Katerina-3-small.usdz"
            
                                        
                        ar ar-modes="scene-viewer webxr quick-look" camera-controls tone-mapping="neutral"
                        alt="Katerina-2"
                        shadow-intensity="1"
                        auto-rotate>                  
            </model-viewer>
                
        <div class="p-4 bg-base-content">
        <h2 class="text-2xl text-base-100 font-bold">Modell 2</h2>
        <p class="text-lg text-base-100">Beistelltisch aus Buchenvollholz mit Intarsienarbeit in der Tischplatte und grauer Rückwand </p>
      </div>
    </div>
    </div>
    
      

    <div id="card" class="">
      <div class="model-viewer-container mt-72 shadow-lg overflow-hidden rounded-xl border-4 border-base-content">
          <model-viewer  class="h-full "
          src="/Katerina-3-small2.glb"
          ios-src="/Katerina-3-small.usdz"
          
                                      
                      ar ar-modes="scene-viewer webxr quick-look" camera-controls tone-mapping="neutral"
                      alt="Katerina-3"
                      shadow-intensity="1"
                      auto-rotate>                  
          </model-viewer>
              
      <div class="p-4 bg-base-content">
      <h2 class="text-2xl text-base-100 font-bold">Modell 3</h2>
      <p class="text-lg text-base-100">Beistelltisch aus Nussbaum und maseriertem Ahorn mit Intarsienarbeit in der Tischplatte</p>
    </div>
  </div>
  </div>



<!-- Anleitung: -->

<div class="prose mx-auto mt-52 max-w-[700px] px-4 sm:px-6 lg:px-8">
  <h1>Anleitung zur Steuerung der 3D-Modelle</h1>
  <p>Hier findest du eine kurze Anleitung, um unsere interaktiven 3D-Modelle auch ohne Vorkenntnisse problemlos zu erkunden.</p>

  <h2>3D-Modelle am Computer steuern</h2>
  <ul>
    <li><strong>Drehen:</strong> Klicke mit der linken Maustaste auf das Modell und halte die Taste gedrückt. Bewege die Maus, um das Modell zu drehen.</li>
    <li><strong>Zoomen:</strong> Nutze das Scrollrad der Maus, um in das Modell hinein- oder herauszuzoomen.</li>
    <li><strong>Verschieben:</strong> Halte die linke Maustaste und die Strg-Taste gedrückt und bewege die Maus, um das Modell zu verschieben.</li>
  </ul>

  <h2>3D-Modelle auf dem Smartphone steuern</h2>
  <ul>
    <li><strong>Drehen:</strong> Tippe auf das Modell und bewege deinen Finger, um es zu drehen.</li>
    <li><strong>Zoomen:</strong> Verwende zwei Finger und ziehe sie auseinander oder zusammen, um zu zoomen.</li>
    <li><strong>Verschieben:</strong> Tippe mit zwei Fingern auf das Modell und verschiebe es.</li>
  </ul>

  <h2>Augmented Reality (AR) nutzen</h2>
  <p>Du kannst unsere 3D-Modelle auch direkt in deinem eigenen Raum ansehen! Wenn du auf deinem Smartphone das AR-Symbol siehst, folge diesen Schritten:</p>
  <ol>
    <li>Tippe auf das AR-Symbol.</li>
    <li>Halte dein Smartphone über den Bereich, in dem du das Modell platzieren möchtest.</li>
    <li>Das Modell erscheint in deinem Raum und du kannst es bewegen und drehen, um es aus verschiedenen Blickwinkeln zu betrachten.</li>
  </ol>

  <p>Viel Spaß beim Entdecken unserer 3D-Modelle! Bei Fragen oder Problemen stehen wir dir gerne zur Verfügung.</p>
</div>

      </html>

</BaseLayout>



<style>
    body {
    margin: 1em;
    padding: 0;
    height: 100%;
  }
  
  #card {
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
    overflow: hidden;
    width: 90%
  }
  
  model-viewer {
    width: 100%;
    height: 70vh;  

  }


  .model-viewer-container {
        position: relative;
    }
 
  model-viewer::part(default-progress-bar) {
    
    height: 10px;
    background-color: #FFF5ED;
    position: absolute;
    border-radius: 5px;
    display: block;
    border-radius: 25px;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, .5), 0 0 5px 1px rgba(0, 0, 0, .6);
    /* border: 2px solid #41539b; */
    
    margin-top: 50%;
    margin-left: 25%;
    width: 50%;
      }




</style>