---
import BaseLayout from "../layouts/base-layout.astro"
---

<BaseLayout title="Katerina">
    <div class="flex justify-center items-center min-h-screen">
        <model-viewer  class="rounded-xl" style="border: 10px; height: 700px; width: 100%" src="/Katerina-3-small2.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls tone-mapping="neutral" poster="/poster.webp" shadow-intensity="1" exposure="1" auto-rotate>
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
        </model-viewer>
    </div>


</BaseLayout>
