---
import BaseLayout from "../layouts/base-layout.astro"
---
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>


<BaseLayout title="Katerina">

    <div class="snap-y snap-mandatory min-h-screen relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" id="Impressum">

        <br>
        <br> 
        <br>
        <br> 
        <br> 

    <!-- <html><iframe src="https://tinyglb.com/viewer/179c86dafe0949078670f227b78b462c" class="rounded-xl" style="border: 10px; height: 700px; width: 100%"></iframe></html>
        -->
    <!-- <model-viewer 
    src="Katerina-3-small2.glb" 
    class="rounded-xl" 
    style="border: 10px; height: 700px; width: 100%;" 
    alt="Beschreibulkmfäa d es Modells" 
    ar 
    environment-image="../../public/hayloft_4k.hdr" 
    
    shadow-intensity="1" 
    camera-controls 
    touch-action="pan-y">
</model-viewer> -->


<model-viewer src="Katerina-3-small2.glb"  class="rounded-xl" 
style="border: 10px; height: 700px; width: 100%;"  ar ar-modes="scene-viewer webxr quick-look" camera-controls tone-mapping="neutral" poster="poster.webp" shadow-intensity="1" exposure="1" auto-rotate>
    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
    <div id="ar-prompt">
        <img src="https://modelviewer.dev/shared-assets/icons/hand.png">
    </div>
</model-viewer>


</div>

</BaseLayout>

