<footer class="p-8 px-to pt-20 text-base-content z-20">
    <div class="container mx-auto flex flex-col gap-8 xl:flex-row xl:items-center xl:justify-between">

        <!-- Links und E-Mail Icon für große Bildschirme -->
        <div class="flex justify-center gap-4 xl:order-2">
            <a href="/impressum" class="link link-hover">Impressum</a>
            <span>|</span>
            <a href="/datenschutz" class="link link-hover">Datenschutz</a>
            <a href="mailto:info@schnitzstück.de" class="link link-hover">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
            </a>
        </div>

        <!-- Copyright Information -->
        <div class="text-center text-sm xl:order-1 xl:text-base">
            © 2024 SchnitzStück. All rights reserved
        </div>

    </div>
</footer>
