

<div class="flex items-center justify-center w-screen h-screen">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="51.223095 66.41675 141.64854 72.242683" class=" fill-current text-base-content" style="width: 65vw; max-width: 100%;">
    <title>Marketing Lab</title>
    <defs>
      <g id="marketing-masks">
        <mask id="mask-marketing-all">
            <g id="mask-all">
        <path
            class="mask"
            id="mask-Schnit"
            d="m 73.705571,74.979078 c 0,0 0.909354,-3.982894 -0.13768,-5.480682 -1.152455,-1.648594 -3.542474,-2.605819 -5.61345,-2.214348 -6.503692,1.229376 -11.950201,4.748261 -11.975157,9.431882 -0.05304,9.954381 12.096912,15.048756 14.28959,24.33825 1.775565,7.52236 -2.974573,16.48465 -9.510293,18.10502 -6.16988,1.52966 -13.47489,-3.80575 -4.73889,-13.42604 4.31959,-4.75682 10.900726,-7.611363 17.709016,-8.498394 0,0 4.100656,-5.110734 6.830539,-4.690658 2.428944,0.373767 5.114159,3.417735 4.541634,5.807648 -0.241898,1.009764 -2.822449,1.317964 -2.822449,1.317964 0.426128,-2.503702 0.09487,-3.089908 -0.393118,-3.687949 -0.380063,-0.465779 -1.014566,-0.686844 -1.470902,-0.605224 -1.812238,0.324135 -3.572411,3.206692 -4.324575,5.680683 -0.752165,2.474 -0.363887,4.80263 0.552549,5.98942 0.900899,1.16667 3.958191,0.0721 5.725368,-0.87298 2.502729,-1.33842 5.352948,-4.15971 6.730591,-7.121125 0.776334,-1.668826 0.03514,-13.955586 2.555089,-23.275463 0.804434,-2.975152 1.941197,-5.647962 3.565744,-7.576503 0.710316,-0.843234 -1.422834,1.717532 -1.882396,2.719728 -1.063374,2.318968 -1.478307,4.895541 -1.926611,7.406995 -1.571367,8.802991 -1.552339,25.152788 -1.997866,31.306838 -0.561573,7.75699 2.222865,-15.431217 5.932574,-15.292122 2.231591,0.667169 -0.168607,9.040662 0.357188,12.465152 0.184784,1.20349 1.252206,4.65023 1.248963,3.43263 -0.05366,-20.145855 3.314271,-23.034154 3.194571,-18.096988 -0.10881,4.487892 -0.954988,9.739198 -0.840616,15.802418 0.08965,4.75296 2.167936,-13.85049 5.488606,-13.491032 3.46247,0.374784 -0.98659,12.773412 1.58331,14.471962 0.729,0.48183 1.27473,-14.154229 1.84641,-14.981446 0.95373,-1.380065 2.09938,-0.348233 2.0365,0.335003 -0.11475,1.246774 -2.16531,8.039703 -0.7163,12.011993 1.45264,3.98228 4.45234,-5.63017 5.60458,-11.029898 0.51076,-2.393608 3.08232,-24.55616 4.24255,-25.880517 1.17056,-1.336148 -3.91492,10.587133 -4.6377,34.954975 -0.18823,6.34583 -0.10102,19.0456 -0.10102,19.0456"
            style="stroke-width:1.55;stroke-dasharray:none"
          />

          <path
            class="mask"
            id="mask-t2"
            d="m 114.77095,122.87012 c 0,0 -0.16343,1.31309 0.7564,5.05916 0.6648,2.70749 2.03495,2.37807 2.03495,2.37807"
            style="stroke-width:0.9;stroke-linecap:butt;stroke-dasharray:none"
              />

          <path
            class="mask"
            id="mask-t3"
            d="m 101.92678,83.169134 c 7.01351,-1.096227 15.11604,-1.121584 27.35587,-1.642508"
            style="stroke-width:1.6;stroke-linecap:butt;stroke-dasharray:none"
          />

          <path
          id="mask-t4"
          class="mask"
          d="m 129.15213,81.478876 c 2.96691,-0.07347 6.49834,-0.140607 9.73984,-0.256056"
         style="stroke-width:1.1;stroke-linecap:butt;stroke-dasharray:none"
        />
        
        <path
              id="mask-z"
          class="mask"
          d="m 118.38218,101.48915 c 0,0 1.87094,-6.599336 5.92538,-5.073436 2.92592,1.101178 1.4557,5.962406 -4.91312,10.533046 0,0 2.49798,1.73172 4.11966,6.51748 0.42378,1.25063 1.6182,9.54293 0.22345,15.32047 -0.96827,4.01086 -3.26636,9.67841 -6.98691,8.96418 -2.72913,-0.5239 -2.3997,-5.16445 -2.32595,-8.00584 0.24499,-9.43811 10.45742,-17.63018 10.45742,-17.63018"
          style="stroke-width:1.7;stroke-linecap:butt;stroke-dasharray:none"
        />

        <path
            id="mask-z2"
            class="mask"
            d="m 124.86034,112.77378 c 1.68129,-0.55309 2.16872,-0.55102 3.43479,-0.4647"
             style="stroke-width:0.7;stroke-linecap:butt;stroke-dasharray:none"
          />

          <path
              class="mask"
              id="mask-Stuck"
              d="m 147.13445,74.976153 c 0,0 0.90935,-3.982893 -0.13768,-5.480682 -1.15245,-1.648595 -3.5221,-2.47597 -5.61345,-2.214348 -6.66208,0.833405 -11.6307,4.64474 -12.00668,9.788191 -0.6318,8.64301 12.80643,15.236471 14.28959,24.338256 1.24308,7.62845 -2.94305,16.12834 -9.47877,17.74871 -6.16988,1.52966 -13.47489,-3.80575 -4.73889,-13.42604 4.31959,-4.75682 10.57116,-7.451429 17.37945,-8.33846 2.01766,-0.262875 -17.36572,-17.398405 -10.94749,-17.419156 20.58473,-0.06655 18.97141,-14.218886 18.34054,-10.111305 -0.50556,3.291758 -1.16177,2.212478 -2.46725,12.589139 -0.79889,6.349921 -1.79694,15.441087 -2.33645,29.785222 -0.16099,4.28039 0.0119,8.77601 0.54625,13.77959 0.42847,4.01182 1.56311,4.93068 3.29566,4.10746 11.01877,-5.23559 -15.05063,-47.174098 -15.05063,-47.174098 9.67463,-1.006034 10.96065,-1.185628 36.04946,-1.738995 1.99983,-0.04411 -10.24369,1.961277 -15.97871,5.390844 -3.37921,2.020782 -1.13505,6.118106 -1.50856,7.814649 -1.41934,6.44687 -2.12961,12.43269 -0.3699,13.52919 3.25935,2.03096 6.62666,-12.249591 7.15257,-13.575491 0.46251,-1.166085 -2.49432,10.438861 0.10915,12.641041 1.10776,0.93702 3.2377,-3.69639 4.66861,-5.99807 1.25843,-2.024248 2.43835,-5.859651 4.84565,-5.476766 1.10524,0.175789 0.6767,2.152807 1.33482,3.080637 0.76895,1.084086 0.0825,-3.0993 -1.06548,-3.386381 -2.08213,-0.520681 -3.82121,2.507803 -4.59603,4.509309 -0.90989,2.350401 -1.92562,6.639391 0.42483,7.549171 4.07463,1.57716 9.04188,-4.30597 12.39326,-8.21138 1.0857,-1.265174 0.72025,-16.941436 2.61986,-25.154972 0.33773,-1.460291 0.40723,-2.629319 1.54518,-4.222684 0.46217,-0.647137 -1.30687,3.567745 -1.65079,5.427063 -2.37274,12.827611 -2.5616,32.141843 -2.75771,39.038353 -0.0276,0.97199 0.73865,-8.43667 5.47417,-16.558996 1.84089,-3.15748 3.997,-5.100786 3.997,-5.100786 0,0 -8.88807,10.481442 -6.4084,12.690022 3.38184,3.01212 6.82663,-0.27654 6.82663,-0.27654"
              style="stroke-width:1.55;stroke-dasharray:none"
            />
            <path
              class="mask"
              id="mask-dot"
              d="m 192.55809,105.28999 -90.1983,-13.140053 4.89786,-3.601151 50.36433,2.031852 2.8415,-21.537861 1.65949,23.674594"
              style="stroke-width:4.35;stroke-linecap:butt;stroke-dasharray:none"
            />
            </mask>            
          </g>
      </g>
    </defs>
    <!-- Darunter liegende Schrift -->
      <path
        mask="url(#mask-marketing-all)"
        id="marketting-char-SchnitzStück" d="m 68.680097,67.778831 c 2.172132,0 4.411443,0.71658 4.948878,3.918795 l 0.04479,0.671793 c 0,0.291111 0,0.671794 0.02239,1.007691 l 0.111966,1.254014 c 0.694186,-0.559828 0.918118,-2.552815 0.962904,-2.978284 -0.111966,-3.918795 -3.605292,-4.881699 -6.046141,-4.881699 -4.299478,0 -12.876041,3.135036 -13.413476,10.323226 v 0.08957 c 0,0.04479 -0.02239,0.08957 -0.02239,0.134359 0,4.635375 3.762043,9.002032 7.076224,12.764075 2.194525,2.508029 4.433837,5.105631 6.046141,8.039129 -6.449217,1.545124 -15.943898,6.516398 -16.884408,15.496038 0,1.36598 0.08957,2.21692 0.604614,3.247 1.388373,2.19452 3.717257,2.9335 5.710244,2.97828 4.030761,0 8.106308,-2.44085 10.659123,-6.04614 1.992987,-3.22461 2.687173,-6.60597 2.687173,-10.09929 0,-1.9482 -0.403076,-3.69487 -1.254014,-5.463923 0.873331,-0.134359 3.605291,-0.71658 3.605291,-0.761366 0,-0.156752 -0.358289,-0.268717 -0.447862,-0.268717 -0.985297,0 -2.239311,0.447862 -3.38136,0.6494 C 66.933434,92.456043 61.984555,88.40289 58.71516,83.409225 v 0.02239 c -1.254014,-2.082559 -2.037773,-3.806829 -2.037773,-6.135713 0,-6.47161 7.636052,-9.517074 12.00271,-9.517074 z m -0.02239,30.76814 h -0.02239 c 0.828546,1.634699 1.254015,3.291789 1.254015,5.396739 0,7.27776 -3.224609,12.49536 -8.755708,14.48835 -1.030083,0.38068 -2.127346,0.55982 -3.247002,0.58222 -3.02307,-0.20154 -4.971271,-2.03778 -5.217596,-4.47863 0.246325,-8.91245 9.763399,-14.35398 15.966291,-16.033465 z m 14.37638,-1.119656 v -0.156752 c 0,-1.477945 -0.962904,-2.619994 -2.440849,-2.709567 -2.978285,0.425469 -5.195203,5.687854 -5.441527,9.158784 l 0.04479,0.69419 c 0.179145,2.61999 1.388373,3.82922 3.179822,3.87401 2.328884,-0.22394 5.195203,-2.08256 7.031438,-3.71726 0.35829,-0.3359 4.747341,-4.612983 4.747341,-5.755032 0,-0.02239 0,-0.06718 -0.111966,-0.29111 -0.223931,0.156751 -2.642387,2.440852 -3.941188,3.829222 l -1.298801,1.27641 c -1.746663,1.41076 -4.299478,3.20221 -6.47161,3.26939 -1.276407,-0.0224 -2.01538,-0.76136 -2.01538,-3.13503 0.08957,-2.62 1.992987,-7.344945 4.366657,-7.658449 0.850938,0.04479 1.052477,0.873332 1.142049,1.43316 v -0.02239 l 0.04479,0.380683 c 0.06718,0.515042 0.223931,1.254015 0.403076,1.522732 0.559828,-0.06718 0.738973,-1.522732 0.761366,-1.992987 z M 95.641407,96.24048 c 0.04479,0.425469 0.04479,0.828545 0.04479,1.254014 0,1.030084 -0.06718,2.08256 -0.111966,3.067856 l -0.04479,0.89573 c 0,1.07487 -0.134359,2.14973 -0.134359,3.2246 0,1.6347 0.04479,4.45623 1.321194,5.39674 h -0.02239 c 0.06718,0.0672 0.223931,0.0896 0.335896,0.0896 0,-0.0896 -0.02239,-0.26872 -0.111965,-0.35829 v 0.0224 c -0.850938,-1.05248 -0.828545,-2.84392 -0.828545,-4.05315 0,-1.36598 0.111965,-2.86632 0.223931,-4.20991 l 0.06718,-0.76136 c 0.111966,-1.231626 0.201538,-2.642392 0.201538,-3.896407 0,-1.254014 -0.156752,-3.157429 -1.36598,-3.157429 -0.08957,0 -0.380683,0.06718 -0.492648,0.156752 l 0.02239,-0.04479 c -1.186835,0.515041 -2.060167,2.866318 -2.575208,4.187512 -0.738973,1.881022 -1.343587,3.941188 -1.881022,6.001358 -0.06718,0 -0.06718,-0.0448 -0.08957,-0.0448 0.201538,-5.710244 0.42547,-11.711598 0.918118,-17.489022 0.380683,-4.545802 1.343587,-13.346296 3.605292,-17.018767 l 0.246324,-0.313504 v 0.02239 c 0.08957,-0.08957 0.268717,-0.403076 0.380683,-0.604614 -0.04479,-0.134359 -0.223931,-0.179145 -0.335897,-0.179145 -1.925808,0 -2.978284,3.582899 -3.403753,5.46392 -0.850939,3.762044 -1.343587,8.352632 -1.72427,12.405786 -0.470256,6.717934 -0.783759,15.518433 -0.940511,22.348333 0,0.22393 0.179145,0.76136 0.627007,0.76136 0.313504,0 0.425469,-0.0896 0.515042,-0.42547 0.761366,-2.5976 1.433159,-5.28477 2.284098,-7.97195 0.380683,-1.186832 1.724269,-5.956565 2.955891,-6.068531 0.246324,0.35829 0.29111,0.985297 0.313503,1.298801 z m 10.099293,9.65143 c 0.0448,-1.32119 0.20154,-2.70956 0.3359,-4.03076 0,-0.0896 0.0448,-0.22393 0.0448,-0.3135 l 0.0224,-0.3359 c 0,-0.11196 0.0448,-0.26872 0.0448,-0.38068 0.15675,-1.276409 0.26871,-2.597603 0.26871,-3.896404 0,-1.455552 -0.3135,-2.978284 -1.54512,-3.135036 h -0.17915 c -1.63469,0 -2.97828,3.762044 -3.60529,5.575886 l -0.89572,3.045464 c -0.0224,0 -0.0896,-0.0224 -0.11197,-0.0224 0.0672,-1.16445 0.13436,-2.26171 0.22393,-3.448543 l 0.3359,-4.657768 c 0.0224,-0.134359 0.0224,-0.380683 0.0224,-0.627007 0,-0.582221 -0.11196,-1.36598 -0.55982,-1.36598 -0.694191,0 -0.783764,2.104952 -0.806157,2.821532 v 0.201538 c -0.268717,3.874009 -0.537435,7.703228 -0.559828,11.577238 0,0.44786 0.223931,0.78376 0.604614,0.78376 0.246324,0 0.470256,-0.17914 0.582221,-0.44786 v 0.0224 c 0.40308,-1.09726 0.82855,-2.61999 1.27641,-4.07554 l 0.15675,-0.55983 c 0.29111,-0.91812 0.55983,-1.90342 0.82854,-2.731962 0.35829,-1.142049 1.54513,-4.724948 2.53043,-4.769734 0.627,0.08957 0.69418,1.231621 0.69418,1.948201 0,1.209228 -0.0224,2.396063 -0.15675,3.538115 0,1.34358 -0.26872,3.04546 -0.26872,4.50101 0,1.03009 0.15676,3.62769 1.41077,3.62769 0,-0.53744 -0.29111,-0.24633 -0.29111,-0.53744 -0.35829,-0.71658 -0.40308,-1.47794 -0.40308,-2.30649 z m 8.7781,-5.01606 c -0.26871,4.54581 -0.49264,9.02443 -0.53743,13.61502 0,3.49332 0.0448,6.98665 0.51504,10.36801 0.22393,1.58991 0.89573,5.62067 2.57521,5.62067 0.0448,0 0.0448,0 0.11197,-0.0224 l 0.24632,-0.0448 0.0448,-0.17914 c -0.35829,-0.15675 -0.29111,-0.11197 -0.3359,-0.13436 l -0.24632,-0.0896 c -0.9853,-0.87333 -1.38838,-3.67247 -1.56752,-5.37435 v -0.0224 c -0.31351,-2.57521 -0.31351,-5.17281 -0.31351,-7.77041 0,-11.17417 0.89573,-23.221665 2.44085,-34.351043 l 11.51006,-0.470255 c 1.3212,-0.02239 9.02443,-0.268717 9.7858,-0.783759 -0.35829,-0.313504 -2.77675,-0.380683 -5.08324,-0.380683 -2.08256,0 -4.18751,0.08957 -4.65777,0.08957 -3.47093,0.08957 -7.45691,0.156752 -11.3757,0.335897 0.3135,-2.216918 0.69418,-4.657768 1.14205,-6.740327 l 0.42547,-1.992988 c 0.0672,-0.223931 0.15675,-0.447862 0.20153,-0.671793 l -0.0224,0.02239 0.17915,-0.380683 0.20153,-0.71658 c -1.20922,0 -1.9482,2.328884 -2.28409,3.784437 -0.35829,2.037773 -0.78376,4.501016 -1.09727,6.740327 -4.5458,0.201538 -9.11399,0.492649 -13.0104,1.007691 -0.53743,0.06718 -1.18683,0.380683 -1.18683,0.895724 0.15675,0.291111 0.58222,0.425469 0.9853,0.425469 0.0896,0 0.24632,0 0.35829,-0.02239 3.85161,-0.515041 8.41981,-0.850938 12.6745,-1.097262 -0.58222,4.657768 -1.07487,9.673825 -1.43316,14.421166 -0.24633,0.492648 -0.67179,1.746663 -1.07487,2.955891 l -0.58222,1.746659 c -0.15675,0.44787 -0.35829,0.91812 -0.49265,1.36598 v -0.0224 c -0.35829,0.82855 -1.41077,2.97828 -2.37367,3.53811 -0.47026,-0.55983 -0.47026,-1.50034 -0.47026,-1.99298 v -0.11197 c 0,-0.17914 -0.0224,-0.35829 -0.0224,-0.53743 v -0.53744 c 0,-2.64239 0.29111,-5.10563 0.76137,-7.501693 v -0.156752 c 0,-0.04479 0.0224,-0.08957 0.0224,-0.134359 0,-0.425469 -0.15675,-0.918117 -0.69419,-0.918117 -0.87333,0 -1.2988,6.449221 -1.2988,8.531781 0,1.50033 0.0672,4.61298 1.74667,4.79212 2.01538,0 3.58289,-5.03845 4.14272,-7.1434 z m -3.2246,-13.928513 -0.0672,-0.06718 c -0.0896,-0.08957 -0.29111,-0.156752 -0.47026,-0.201538 -0.3359,0.806152 -0.6494,2.127346 -0.6494,2.866319 0,0.380683 0.0896,0.918117 0.35829,1.052476 0.58222,-0.134359 0.69419,-2.08256 1.2988,-3.403753 -0.11196,0 -0.44786,-0.223932 -0.47025,-0.246325 z m 7.54647,11.823565 c -0.0896,0.246324 -0.3359,1.254018 -0.3359,1.836238 0,0.20154 0.0672,0.40307 0.22393,0.627 0.26872,-0.55982 0.69419,-1.321189 0.96291,-1.881017 h -0.0224 c 0.89572,-1.522732 2.23931,-2.351277 3.80683,-2.351277 0.87333,0 1.56751,0.492648 1.56751,2.037773 -0.0672,1.410771 -0.91811,2.552811 -1.67948,3.403751 -1.07487,1.05248 -2.44085,2.26171 -3.73965,3.35897 l -0.62701,0.58222 h 0.0224 c -0.17915,0.11197 -0.26872,0.3359 -0.26872,0.60462 0,0.29111 0.0896,0.55982 0.33589,0.73897 1.74667,1.23162 2.9559,3.26939 3.71726,5.66546 -4.97127,3.11264 -9.15878,12.47296 -9.22596,19.5044 l 0.0448,0.62701 c 0.15676,2.30649 1.03009,5.06084 3.6053,5.06084 4.72494,0 6.94186,-7.92716 7.61366,-12.6969 0.15675,-1.58991 0.26871,-3.09025 0.26871,-4.56819 0,-1.99299 -0.20154,-5.39674 -0.98529,-7.79281 0.9629,-0.47025 2.01538,-0.91811 2.97828,-1.05247 h 0.20154 c 0.0896,0 0.13436,-0.0224 0.17914,-0.0224 0.11197,0 0.22393,0.0672 0.69419,0.0672 l 0.0448,-0.20153 c -0.42547,-0.17915 -0.80616,-0.29111 -1.11966,-0.29111 -0.76137,0.0224 -1.41077,0.0896 -1.92581,0.29111 l -0.38068,0.15675 v -0.0224 c -0.17915,0.0672 -0.55983,0.20153 -0.89573,0.35828 -0.71658,-2.19452 -1.81384,-4.29947 -3.47093,-5.79981 l 0.76137,-0.6494 c 2.46324,-2.03778 5.08323,-4.18751 5.08323,-7.479303 0,-2.37367 -1.41076,-3.426146 -2.82153,-3.426146 -2.03777,0 -3.78443,1.097263 -4.61298,3.314181 z m -1.6347,38.471368 c -1.76905,0 -2.57521,-1.97059 -2.57521,-4.56819 0,-6.47161 3.85162,-15.22732 8.41982,-18.45193 l 0.17914,0.73897 c 0.53744,2.21692 0.69419,4.38905 0.69419,6.40443 0,1.38838 -0.0896,2.79914 -0.24633,4.27709 v -0.0224 c -0.53743,3.98597 -2.39606,10.88305 -6.09092,11.59963 -0.0448,0 -0.0448,0.0224 -0.0896,0.0224 z m 24.87876,-69.463439 c 2.17213,0 4.41144,0.71658 4.94888,3.918795 l 0.0448,0.671793 c 0,0.291111 0,0.671794 0.0224,1.007691 l 0.11196,1.254014 c 0.69419,-0.559828 0.91812,-2.552815 0.96291,-2.978284 -0.11197,-3.918795 -3.6053,-4.881699 -6.04614,-4.881699 -4.29948,0 -12.87605,3.135036 -13.41348,10.323226 v 0.08957 c 0,0.04479 -0.0224,0.08957 -0.0224,0.134359 0,4.635375 3.76204,9.002032 7.07622,12.764075 2.19453,2.508029 4.43384,5.105631 6.04614,8.039129 -6.44922,1.545124 -15.9439,6.516398 -16.88441,15.496038 0,1.36598 0.0896,2.21692 0.60462,3.247 1.38837,2.19452 3.71725,2.9335 5.71024,2.97828 4.03076,0 8.10631,-2.44085 10.65912,-6.04614 1.99299,-3.22461 2.68718,-6.60597 2.68718,-10.09929 0,-1.9482 -0.40308,-3.69487 -1.25402,-5.463923 0.87334,-0.134359 3.6053,-0.71658 3.6053,-0.761366 0,-0.156752 -0.35829,-0.268717 -0.44787,-0.268717 -0.98529,0 -2.23931,0.447862 -3.38136,0.6494 -2.77674,-5.396741 -7.72562,-9.449894 -10.99502,-14.443559 v 0.02239 c -1.25401,-2.082559 -2.03777,-3.806829 -2.03777,-6.135713 0,-6.47161 7.63605,-9.517074 12.00271,-9.517074 z m -0.0224,30.76814 h -0.0224 c 0.82855,1.634699 1.25402,3.291789 1.25402,5.396739 0,7.27776 -3.22461,12.49536 -8.75571,14.48835 -1.03008,0.38068 -2.12735,0.55982 -3.247,0.58222 -3.02307,-0.20154 -4.97127,-2.03778 -5.2176,-4.47863 0.24633,-8.91245 9.7634,-14.35398 15.96629,-16.033465 z m 11.62202,-24.027813 c 0,-0.06718 0.0224,-0.179144 0.0448,-0.268717 0.15675,-0.806152 0.33589,-1.612304 0.6494,-2.530422 l 0.3135,-0.918118 c -1.20923,0 -1.99299,2.306491 -2.2841,3.784437 -0.42547,2.104953 -0.80615,4.411443 -1.14205,6.717934 -4.32187,0.223931 -8.21827,0.425469 -11.95792,0.895725 -0.60462,0.06718 -1.54513,0.335897 -1.54513,0.918118 0.11197,0.313503 0.6494,0.425469 1.09727,0.425469 0.0672,0 0.11196,-0.02239 0.15675,-0.02239 h 0.38068 c 3.71726,-0.470256 7.59127,-0.738973 11.73399,-0.962904 -1.45555,11.151771 -2.21691,23.535163 -2.21691,31.932583 0,3.51572 0.13435,6.85229 0.49264,10.36801 0.24633,1.6347 0.87334,5.62067 2.57521,5.62067 l 0.6718,-0.13436 c -0.35829,-0.15675 -0.42547,-0.17914 -0.44787,-0.17914 -1.81384,-0.60462 -2.14974,-6.91947 -2.14974,-7.61366 -0.0896,-1.72427 -0.11196,-3.44854 -0.11196,-5.17281 0,-11.35331 0.82854,-23.57995 2.44085,-34.888473 3.73965,-0.201538 7.61366,-0.335896 11.30852,-0.447862 l 5.59828,-0.179145 c 3.33657,-0.04479 4.45623,-0.201538 4.45623,-0.6494 0,-0.335897 -3.67247,-0.425469 -4.36666,-0.425469 h -0.17914 c -4.97127,0.06718 -10.95024,0.179145 -16.66048,0.447862 0.3135,-2.284098 0.67179,-4.568195 1.14205,-6.695541 z m 6.22528,29.021482 c -0.0224,0.0896 -0.0896,0.17914 -0.11196,0.26871 v -0.0224 c -0.6494,1.34359 -1.72427,3.62768 -2.88871,3.62768 -0.76137,-0.15675 -0.82855,-2.30649 -0.82855,-3.09025 v -0.13435 c 0,-2.12735 0.31351,-4.14273 0.62701,-5.978966 0,-0.35829 0.3135,-1.589911 0.3135,-2.37367 0,-0.380683 -0.24632,-0.828545 -0.44786,-0.828545 -0.9629,0 -1.36598,3.67247 -1.56752,5.777421 l -0.0672,0.69419 c -0.0672,0.67179 -0.0896,1.36598 -0.0896,2.03777 0,2.03778 0.3359,4.8817 2.35128,5.35196 2.30649,0 4.16512,-5.08324 5.03845,-7.65845 0.0224,0 0.0448,0.0224 0.0672,0.0224 l -0.0224,0.85094 c 0,0.0672 -0.0224,0.11197 -0.0224,0.17915 v 0.17914 c 0,1.81385 0.0448,5.17281 1.79145,5.35196 1.61231,0 3.40375,-3.67247 4.07555,-5.32956 0,-0.0448 0.0448,-0.15676 0.0448,-0.20154 l 0.0896,-0.29111 c 0.22393,-0.71658 0.67179,-1.92581 0.6494,-2.463245 0,-0.04479 -0.0224,-0.403076 -0.0224,-0.42547 -0.33589,0.403077 -1.2764,2.552815 -1.38837,2.799135 -0.60461,1.18684 -2.57521,4.54581 -3.67247,4.79213 l -0.15675,-0.15675 c -0.35829,-0.69419 -0.40308,-1.27641 -0.40308,-1.83624 0,-2.88871 0.3359,-6.35964 0.89573,-9.15878 0,-0.08957 0.0224,-0.134358 0.0224,-0.156752 0,-0.425469 -0.38068,-0.918117 -0.71658,-0.985297 h -0.22393 l -0.20154,0.201538 c -0.9853,2.978285 -1.97059,6.046141 -3.13504,8.934851 z m 1.3212,-11.420493 c 0.49265,-0.06718 0.9853,-0.671794 0.9853,-1.321194 0,-0.470255 -0.35829,-0.828545 -0.73898,-0.828545 h -0.17914 c -0.47026,0.156752 -0.91812,0.694186 -0.91812,1.254014 0,0.515042 0.29111,0.895725 0.73897,0.895725 z m -2.62,-2.149739 c -0.42547,0.156752 -0.91811,0.716579 -0.91811,1.254014 0,0.515042 0.33589,0.895725 0.82854,0.895725 0.47026,-0.06718 1.00769,-0.627007 1.00769,-1.276408 0,-0.492648 -0.29111,-0.873331 -0.71658,-0.873331 z m 16.59331,7.456907 v -0.156752 c 0,-1.477945 -0.96291,-2.619994 -2.44085,-2.709567 -2.97829,0.425469 -5.19521,5.687854 -5.44153,9.158784 l 0.0448,0.69419 c 0.17914,2.61999 1.38837,3.82922 3.17982,3.87401 2.32888,-0.22394 5.1952,-2.08256 7.03144,-3.71726 0.35829,-0.3359 4.74734,-4.612983 4.74734,-5.755032 0,-0.02239 0,-0.06718 -0.11197,-0.29111 -0.22393,0.156751 -2.64239,2.440852 -3.94119,3.829222 l -1.2988,1.27641 c -1.74666,1.41076 -4.29948,3.20221 -6.47161,3.26939 -1.27641,-0.0224 -2.01538,-0.76136 -2.01538,-3.13503 0.0896,-2.62 1.99299,-7.344945 4.36666,-7.658449 0.85094,0.04479 1.05248,0.873332 1.14205,1.43316 v -0.02239 l 0.0448,0.380683 c 0.0672,0.515042 0.22394,1.254015 0.40308,1.522732 0.55983,-0.06718 0.73897,-1.522732 0.76137,-1.992987 z m 10.65912,-26.916524 c 0.0448,-0.08957 0.0672,-0.268717 0.0672,-0.268717 -0.13435,-0.111966 -0.15675,-0.111966 -0.20153,-0.111966 -1.03009,0 -1.74667,2.328884 -1.9482,3.358967 l -0.49265,2.552815 c -0.60462,4.321871 -1.00769,9.203571 -1.3212,13.547835 -0.42547,7.300155 -0.82854,16.391755 -0.82854,23.848665 0,0.38069 0.0224,0.73897 0.17914,1.00769 l -0.0224,-0.0224 c 0.0448,0.15675 0.24632,0.29111 0.47026,0.29111 0.22393,-0.0224 0.42546,-0.29111 0.44786,-0.53744 0.33589,-2.68717 1.11965,-5.75503 1.90341,-8.33023 1.18684,1.03008 2.44085,1.32119 3.78444,1.32119 0.60461,-0.0672 1.20923,-0.26872 1.83623,-0.6494 0.31351,-0.26872 1.11966,-0.9853 1.11966,-1.45555 0,-0.0224 0,-0.0672 -0.11197,-0.24633 -0.29111,0 -1.52273,0.80616 -1.52273,0.82855 l 0.0896,-0.11197 c -0.47026,0.20154 -0.91812,0.26872 -1.41077,0.26872 -1.14205,0 -2.26171,-0.51504 -3.247,-1.45555 1.11965,-3.38136 2.75435,-7.770413 4.92648,-10.12169 v -0.02239 c 0.22393,-0.268717 0.38069,-0.403076 0.58222,-0.559827 l 0.69419,-0.582221 -0.13436,-0.179145 c -3.67247,0.962904 -7.00904,10.547157 -8.37502,15.585607 -0.0224,0 -0.0672,-0.0224 -0.0896,-0.0224 0.13436,-6.24768 0.42547,-12.517754 0.82855,-18.631074 l 0.0896,-1.142049 c 0.38068,-5.575886 0.94051,-12.540144 2.48564,-17.556202 l 0.20154,-0.492648 z"
      />
  </svg>
    
  <!-- <div class="text-center mt-4 opacity-0 transition-opacity duration-500" id="learnMoreSection">
    <p class="text-lg">Mehr erfahren</p>
    <a href="#intro">
        <svg>  </svg>
    </a>
</div> -->
  

  
  <style>


.mask {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
  }


@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

  </style>






<script>
  // Gesamtanimationszeit in Sekunden
  const totalAnimationTime = 3; // Ändern Sie dies, um die Gesamtzeit der Animation zu ändern
  
  const masks = ['Schnit', 't2', 't3', 't4', 'z', 'z2', 'Stuck', 'dot'];
  
  // Gesamtlänge aller Pfade berechnen
  let totalLength = 0;
  masks.forEach(mask => {
    const path = document.querySelector(`#mask-${mask}`) as SVGPathElement | null;
    if (path) {
      const length = path.getTotalLength();
      totalLength += length;
    }
  });
  
  // Berechnung der Dauer und Verzögerung jeder Animation
  let accumulatedDelay = 0;
  
  masks.forEach(mask => {
    const path = document.querySelector(`#mask-${mask}`) as SVGPathElement | null;
    if (path) {
      const length = path.getTotalLength();
      path.style.strokeDasharray = length.toString();
      path.style.strokeDashoffset = length.toString();
  
      // Anteilige Dauer basierend auf der Länge des Pfades
      const duration = (length / totalLength) * totalAnimationTime;
      
      // Animation dynamisch setzen
      path.style.animation = `strokeOffset ${duration}s linear forwards ${accumulatedDelay}s`;
  
      // Verzögerung für den nächsten Pfad akkumulieren
      accumulatedDelay += duration;
    }
  });


// //  Nachdem das Logo fertig ist: 

//   // Wenn die Animation abgeschlossen ist, wird diese Funktion aufgerufen
//   function onAnimationEnd() {
//     // Das Element mit der ID 'navbar' finden und die 'hidden' Klasse entfernen
//     document.getElementById('navbar').classList.remove('hidden');
//     // Das Element mit der ID 'mainContent' finden und die 'hidden' Klasse entfernen
//     document.getElementById('intro').classList.remove('hidden');


//     document.getElementById('learnMore').classList.remove('hidden');
//   }

//   // Beispiel: Angenommen, deine Animation dauert 3 Sekunden
//   setTimeout(onAnimationEnd, 3000);


  </script>
  