<div class="fixed-mask-container">
<div class="parallax">
    <div class="mask">
      <span class="headline">CSS MASK</span>
    </div>
  </>
  <div class="content-div"></div>

</div>

  <style>
    body {
  width:100%;
  margin:0;
}
.parallax {
  width: 100%;
  height:50vh;
  background-size: cover;
  position: relative;
}
.content-div {
  width: 100%;
  height: 200vh;
}
.headline {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 350px;
  color: white;
  position: fixed;
  top:20vh;
  width:100%;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}


.mask {
  mask-size: cover;
  -webkit-mask-size:cover;
  width:100%;
  height:500px;
  -webkit-mask: 
    url(MaskRectangle.svg) center/contain no-repeat,
    linear-gradient(#fff 0 0); /* we need this extra layer for mask-composite */
  background-color: blueviolet;
  -webkit-mask-position: fixed;
  mask-position: fixed;
}
.fixed-mask-container {
    background-color: aquamarine;
    outline: auto;
    position: relative;
}


  </style>